@use "../../scss/mixins.scss" as *;

.our-story {
  &__title {
    font-size: 32px;
    text-transform: none;

    @media (min-width: 992px) {
      font-size: 64px;
    }
  }

  &__image {
    background-image: url("/our-story-images/sectiongiselle&fernando.jpg");
    background-size: cover;
    margin: auto;
    aspect-ratio: 376/549;
    width: 100%;

    @media (min-width: 992px) {
      width: 376px;
      height: 549px;
    }
  }

  &__text-left {
    text-align: right;
    align-self: flex-end;
  }
}

.first-date {
  align-items: center;

  &__small-image {
    height: 215px;
    margin: 0 auto;
    position: relative;

    @media (min-width: 992px) {
      margin: auto;
    }
  }

  &__big-image {
    height: auto;
    width: 100%;

    @media (min-width: 992px) {
      height: 511px;
      width: auto;
    }
  }
}

.fourth-date img,
.second-date img {
  margin: auto;
  width: 70%;

  @media (min-width: 992px) {
    width: 100%;
  }
}

.third-date img {
  width: 100%;

  @media (min-width: 992px) {
    width: auto;
  }
}

.second-date,
.fourth-date {
  background-color: var(--background-color-grey);
}

.second-date-story,
.fourth-date-story {
  @media (min-width: 992px) {
    margin-top: 60px;
  }
}

.banner {
  background-image: url("/our-story-images/banner_rsvp.jpg");
  background-size: cover;
  background-position: 52%;
  padding: 32px 0;

  @media (min-width: 992px) {
    background-position: center;
    padding: 132px 0;
  }

  &-heading {
    @include banner-title;
    color: var(--text-color-light);
  }

  &-tagline {
    @include banner-tagline;
    color: var(--text-color-light);
  }
}
