<hero
  backgroundImage="/our-story-images/hero-background.jpg"
  title="Nuestra Historia"
  subtitle="Donde todo comenzó"
  [borderOn]="false"
/>
<div class="container m-80">
  <div class="row">
    <div class="col-3">
      <h2 class="our-story__title mb-16">Giselle</h2>
      <p>
        Amante de los atardeceres, médico por vocación, enamorada de la vida y
        fiel seguidora de Dios.
      </p>
    </div>

    <div class="col-4 offset-1">
      <img
        class="our-story__image"
        src="/our-story-images/sectiongiselle&fernando.jpg"
        alt=""
      />
    </div>
    <div class="col-3 offset-1 our-story__text-left">
      <p class="mb-16">
        Amante del Junior, Fiel servidor de Dios y de San José. En mi tiempo
        libre me gusta andar en mi escarabajo.
      </p>
      <h2 class="our-story__title">Fernando</h2>
    </div>
  </div>
</div>

<div class="quote">
  <div class="container">
    <div class="col-10 offset-1">
      <p class="quote__text">
        "El <em>amor</em> que nace de <em>Dios</em> no conoce fronteras. Cuando
        Él une dos almas, las guía hasta encontrarse, sin importar el camino."
      </p>
    </div>
  </div>
</div>

<div class="container m-80">
  <div class="row first-date">
    <div class="col-2">
      <img
        class="first-date__small-image"
        src="/our-story-images/section2021.jpg"
        alt=""
      />
    </div>
    <div class="col-4">
      <img
        class="first-date__big-image"
        src="/our-story-images/section2021big.jpg"
        alt=""
      />
    </div>

    <div class="col-5 offset-1">
      <story-moment [year]="2021" title="UN MENSAJE QUE LO CAMBIÓ TODO ">
        <p>
          Fernando, siguiendo una corazonada, le escribió a Giselle por
          Instagram. Lo que parecía ser una charla casual se transformó
          rápidamente en conversaciones interminables, tan profundas y
          envolventes que a menudo olvidaban incluso dormir. Las horas pasaban
          sin que se dieran cuenta, y con cada palabra, la conexión entre ellos
          crecía.
        </p>
      </story-moment>
      <img class="col-3 offset-1" src="" alt="" />
    </div>
  </div>
</div>
<div class="second-date">
  <div class="container m-80">
    <div class="row">
      <div class="col-5">
        <story-moment [year]="2023" title="LO QUE PASÓ DESPUES ">
          <p>
            La distancia pronto se convirtió en un detalle menor ante el deseo
            de conocerse en persona. Giselle viajó desde Argentina a
            Barranquilla, y Fernando desde Bogotá. Cuando por fin se
            encontraron, fue como si el universo hubiera conspirado para unirlos
            en ese instante.
          </p>
          <p>
             Desde el primer abrazo, supieron que estaban hechos el uno para el
            otro: compartían las mismas creencias, la misma visión de la vida y
            los mismos sueños.
          </p>
        </story-moment>
      </div>
      <div class="col-5 offset-2">
        <img
          class="second-date__image"
          src="/our-story-images/section2023.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<div class="container m-80 third-date">
  <div class="row">
    <div class="col-4">
      <img
        class="third-date__left-image"
        src="/our-story-images/section2025.jpg"
        alt=""
      />
    </div>
    <div class="col-3">
      <img
        class="third-date__right-image"
        src="/our-story-images/section2025-right.jpg"
        alt=""
      />
    </div>
    <div class="col-5">
      <story-moment [year]="2025" title="EMPIEZA UN NUEVO CAPITULO">
        <p>
          Poco después, decidieron caminar juntos por la vida y construir un
          futuro en común. Hoy, cuentan los días con ilusión, sabiendo que están
          a punto de celebrar su amor rodeados de las personas que más quieren,
          en la boda con la que siempre soñaron.
        </p>
      </story-moment>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="text-center">
      <h2 class="banner-heading">RSVP</h2>
      <p class="banner-tagline">
        Por favor confirma tu asistencia antes del 27 de septiembre.
        <br />
        ¡No podemos esperar para celebrar contigo!
      </p>
      <app-link>CONFIRMA TU ASISTENCIA</app-link>
    </div>
  </div>
</div>

<app-footer />
