<div class="faq">
  <hero backgroundImage="/faq-images/background-faq.jpg" [borderOn]="false">
    <div class="hero__title">Preguntas Frecuentes</div>
  </hero>
  <div class="groups container py-32 py-lg-80">
    @for (group of groups; track group.title) {
    <div class="group">
      <h2 class="col-lg-3 group__title">{{ group.title }}</h2>
      <div class="col-lg-7 offset-lg-2 group__items">
        <p-accordion [value]="0">
          @for (qa of group.items ; track $index) {

          <p-accordion-panel [value]="$index + 1">
            <p-accordion-header>
              <p class="group__question">{{ qa.question }}</p>
            </p-accordion-header>
            <p-accordion-content
              ><p class="group__answer">
                {{ qa.answer }}
                @if (qa.email) {
                <a [href]="`mailto:${qa.email}`">{{ qa.email }}</a>
                }
              </p></p-accordion-content
            >
          </p-accordion-panel>

          <div></div>
          }
        </p-accordion>
      </div>
    </div>
    }
  </div>
  <app-footer></app-footer>
</div>
