@use "../../scss/mixins.scss" as *;

.hero__title {
  margin: auto;
  max-width: 798px;
}
.groups {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 16px;

  @media (min-width: 992px) {
    gap: 96px;
  }

  ::ng-deep .p-iconwrapper {
    transform: rotate(180deg);
  }

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 0px;
      align-items: start;
    }

    &__title {
      margin-bottom: 0;
      text-align: center;

      @media (min-width: 992px) {
        text-align: left;
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__question {
      margin-bottom: 0;
      text-transform: none;
    }

    &__answer {
      margin-bottom: 0;

      a {
        border-bottom: 1px solid var(--text-color);
      }
    }
  }

  ::ng-deep .p-accordionheader {
    color: var(--text-color) !important;
    font-weight: 400;
  }
}
