@use "../../scss/mixins.scss" as *;

.faq {
  padding-top: 68px;

  @media (min-width: 992px) {
    padding-top: 0;
  }

  ::ng-deep .hero {
    @media (min-width: 992px) {
      background-size: 1000px 423px;
      background-color: #dcdcdc;
      background-position: center;
      background-repeat: no-repeat;
      margin-inline: 0;
      height: 635px;
      margin-top: 64px;
      padding-top: 0;
      background-attachment: scroll;
    }

    @media (max-width: 992px) {
      background-image: url("/faq-images/background-mobile.jpg") !important;
      margin-inline: auto;
      margin-top: 24px;
      height: calc(100vh - 48px - 68px);
      width: calc(100vw - 48px);
    }
  }
}

.hero__title {
  color: var(--text-color);
  margin: auto;
  max-width: 798px;

  @media (min-width: 992px) {
    color: var(--text-color-light);
  }
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 16px;

  @media (min-width: 992px) {
    gap: 96px;
  }

  ::ng-deep .p-iconwrapper {
    transform: rotate(180deg);
  }

  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media (min-width: 992px) {
      flex-direction: row;
      gap: 0px;
      align-items: start;
    }

    &__title {
      margin-bottom: 0;
      text-align: center;

      @media (min-width: 992px) {
        text-align: left;
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__question {
      margin-bottom: 0;
      text-transform: none;
    }

    &__answer {
      margin-bottom: 0;

      a {
        border-bottom: 1px solid var(--text-color);
      }
    }
  }

  ::ng-deep .p-accordionheader {
    color: var(--text-color) !important;
    font-weight: 400;
  }
}
