.header {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
  }

  .button {
    border-color: var(--text-color-light);
  }
}

.rsvp-wrapper {
  width: 104px;
}

.menu-button {
  background: none;
  border: none;
  height: 32px;
  padding: 0;

  ::ng-deep img {
    height: 24px;
    width: 24px;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--background-color-dark);
  z-index: 2;
}

.mobile-menu-close {
  background: none;
  border: none;
  position: absolute;
  right: 24px;
  top: 24px;

  path {
    fill: var(--text-color-light);
  }
}
