<div class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-content">
          <a href="/">
            <img
              ngSrc="/logo.png"
              width="40"
              height="40"
              alt="Giselle & Fernando"
            />
          </a>
          <div class="desktop-menu">
            <app-menu />
          </div>
          <div class="rsvp-wrapper">
            <app-link href="/rsvp" [onDark]="true">rsvp</app-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
