<div class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-content">
          <img
            ngSrc="/logo.png"
            width="40"
            height="40"
            alt="logo Giselle & Fernando"
          />
          <ul class="menu">
            <li>Inicio</li>
            <li>Nuestra Historia</li>
            <li>La Ciudad</li>
            <li>FAQS</li>
          </ul>
          <app-button> rsvp </app-button>
        </div>
      </div>
    </div>
  </div>
</div>
