<footer class="footer">
  <div class="container">
    <div class="row pb-64">
      <div class="col-2">
        <img
          src="/logo.png"
          with="60"
          height="60"
          alt="logo Giselle & Fernando"
        />
        <p>Giselle & Fernando</p>
      </div>
      <div class="col-2 offset-3">
        <app-menu direction="column" />
      </div>
      <div class="col-3 offset-2 text-end">
        <p>
          Diseño y desarrollo por Gina Íconos creados por Freepik – Flaticon
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="m-0">© 2025 Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
