.footer {
  background-color: var(--background-color-dark);
  color: var(--text-color-light);
  padding-block: 60px;

  a {
    text-decoration: underline;
  }
}

.logo-column {
  text-align: center;

  @media (min-width: 992px) {
    text-align: left;
  }
}

.logo {
  margin: auto;

  @media (min-width: 992px) {
    margin: 0;
  }
}

.credits-column {
  text-align: center;

  @media (min-width: 992px) {
    text-align: right;
  }
}
