<footer class="footer">
  <div class="container">
    <div class="row pb-64">
      <div class="col-lg-2 logo-column">
        <img
          src="/logo.png"
          with="60"
          height="60"
          alt="logo Giselle & Fernando"
          class="logo"
        />
        <p>Giselle & Fernando</p>
      </div>
      <div class="col-lg-2 offset-lg-3">
        <app-menu direction="column" />
      </div>
      <div class="col-lg-3 offset-lg-2 credits-column">
        <p>
          Diseño y desarrollo por <a
            href="https://ginagonzalezgut.com/"
            target="_blank"
            >Gina</a
          >
          <br />
          Íconos creados por
          <a href="https://www.flaticon.es/autores/freepik" target="_blank"
            >Freepik – Flaticon</a
          >
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p class="m-0">© 2025 Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
