<app-button
  [isDark]="true"
  (click)="visible = true"
  [buttonAsLink]="buttonAsLink"
>
  {{ buttonLabel }}
</app-button>

<p-dialog
  [modal]="true"
  [(visible)]="visible"
  [style]="styles"
  [showHeader]="true"
  [contentStyle]="{ padding: 0, }"
  [dismissableMask]="true"
  appendTo="body"
>
  <div class="pop-up">
    @if(popUp.image){
    <div class="pop-up__image desktop-only">
      <img src="city-images/{{ popUp.image }}.jpg" alt="" />
    </div>
    }

    <div class="pop-up__card">
      <div class="pop-up__content">
        <div class="pop-up__heading">
          <icon [name]="popUp.icon" />
          <h3>{{ popUp.title }}</h3>
        </div>
        @for (item of popUp.content; track $index) {
        <div class="pop-up__item">
          <h3 class="pop-up__subtitle">{{ item.subtitle }}</h3>
          <ul class="pop-up__description">
            @for (descriptionItem of item.description; track $index) {
            <li>{{ descriptionItem }}</li>
            }
          </ul>
        </div>
        }
      </div>
    </div>
  </div>
</p-dialog>
