:host {
  width: 100%;

  @media (min-width: 992px) {
    width: auto;
  }
}

.pop-up {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  &__card {
    padding: 0 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
  }
  &__content {
    padding: 0 32px;

    @media (min-width: 992px) {
      padding: 0 80px;

      .pop-up__image + .pop-up__card > & {
        padding-left: 430px;
      }
    }
  }
  &__image {
    flex-shrink: 0;
    width: 350px;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-bottom: 34px;
    text-align: center;
  }
  &__item {
    margin-bottom: 2rem;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    font-size: 16px;
    font-family: var(--body-font);
    line-height: 1.5;
    letter-spacing: normal;
  }
  &__description {
    list-style-type: disc;
    padding-left: 1.25rem;

    li {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
