<div class="hotel-card">
  <img
    class="hotel-card__image"
    src="/city-images/{{ hotel.imageName }}.jpg"
    alt="{{ hotel.alt }}"
  />@if(hotel.discount){
  <p class="hotel-card__discount">DESCUENTO DE 15% PARA INVITADOS A LA BODA</p>
  }

  <div class="hotel-card__information">
    <p>{{ hotel.title }}</p>
    <app-link href="{{ hotel.url }}" target="_blank">Reservar</app-link>
    @if(hotel.discount){
    <div class="discount-popup">
      <pop-up
        [popUp]="discountPopup"
        buttonLabel="Ver condiciones del descuento"
        [buttonAsLink]="true"
      ></pop-up>
    </div>
    }
  </div>
</div>
