.hotel-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 376px;
  margin: auto;

  img {
    width: 100%;
  }

  &__information {
    background-color: var(--background-color);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 24px;
    position: relative;

    @media (min-width: 992px) {
      padding: 77px 24px;
    }
  }
  &__discount {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
    font-size: 14px;
    padding: 12px 16px;
    position: absolute;
    top: -32px;
  }
  .discount-popup {
    position: absolute;
    bottom: 24px;
  }
}
