@use "../../scss/mixins.scss" as *;

.hero {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 1s linear;

  &__title {
    @include hero-title;
  }
  &__subtitle {
    text-transform: capitalize;
    margin-bottom: 32px;
  }
}
.border-on {
  border: 1px solid var(--text-color-light);
  padding: 108px;
}
