.hero {
  background-image: url(../../../public/wedding-images/herobackground.jpg);
  background-size: cover;
  height: 100vh;
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: var(--hero-font);
    font-weight: 400;
    font-size: 72px;
    letter-spacing: 6px;
    line-height: 1.2;
  }
}
