.tourist-spot {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 320px;
  width: 320px;
  text-transform: uppercase;
  color: var(--text-color-light);
}
