<ul class="menu" [class.menu--column]="direction === 'column'">
  <li>
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink="/"
      (click)="onClickMenuItem()"
      >Inicio</a
    >
  </li>
  <li>
    <a
      routerLinkActive="active"
      routerLink="/nuestra-historia"
      (click)="onClickMenuItem()"
      >Nuestra Historia</a
    >
  </li>
  <li>
    <a
      routerLinkActive="active"
      routerLink="/la-ciudad"
      (click)="onClickMenuItem()"
      >La Ciudad
    </a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/faq" (click)="onClickMenuItem()"
      >FAQ</a
    >
  </li>
</ul>
