.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 60px 24px;

  @media (min-width: 992px) {
    flex-direction: row;
    padding: 0;
    gap: 24px;
  }

  a {
    border-bottom: 2px solid var(--text-color);
    transition: all 0.3s ease;
  }

  a:hover,
  a.active {
    border-bottom: 2px solid var(--text-color-light);
  }
  &--column {
    flex-direction: column;
  }
}
