@use "../../scss/mixins.scss" as *;

.page-background {
  background-image: linear-gradient(
    var(--background-color) 0%,
    var(--background-color) 30%,
    #eee 100%
  );
  padding: 178px 0 110px;
}

.hero {
  background-image: url(/rsvp-images/hero-rsvp.jpg);
  background-size: cover;
  height: 375px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 84px;
}

.title {
  text-align: center;
  @include hero-title;
}

.sheet {
  background-color: var(--background-color);
  padding: 80px 0 110px;
  position: relative;

  &__title {
    text-align: center;
    margin-bottom: 24px;
  }
}

label {
  display: block;
}

.label {
  @include h3;
  display: block;
  font-family: var(--heading-font);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-bottom: 1px solid var(--text-color);
  width: 100%;
}
.pop-up {
  position: absolute;
  padding: 270px 80px;
  background-color: var(--background-color);
  top: 0;
  width: 100%;
  &__attend {
    @include center;
    gap: 24px;
  }
}
