@use "../../scss/mixins.scss" as *;

.city-image {
  background-size: cover;
  background-position: center;
  height: 708px;
  width: 100%;
  background-image: url("/city-images/marimonda.jpg");
}

.city-page__hotels {
  display: block;
  padding: 32px 0;
  background-color: var(--background-color-grey);
}

.section-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.spots-section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__subtitle {
    max-width: 585px;
    margin: auto;
  }
}

.info-section {
  background-color: var(--background-color-grey);
}

.banner-heading {
  @include banner-title;
}

.banner-tagline {
  @include banner-tagline;
}

.spots-carousel {
  margin: auto;
  max-width: 1800px;

  &-item {
    margin: 0 8px;
  }
}

::ng-deep .p-carousel-indicator-button {
  border-radius: 100%;
  margin: 0 0.5rem;
  height: 0.75rem;
  width: 0.75rem;
}

::ng-deep .spots-carousel-indicators {
  margin-top: 32px;
}

::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background: var(--text-color);
}
