@use "../../scss/mixins.scss" as *;

.city-image {
  background-image: url("/city-images/marimonda.jpg");
  background-size: cover;
  background-position: center;
  aspect-ratio: 680 / 416;
  width: 100%;

  @media (min-width: 992px) {
    aspect-ratio: initial;
    height: 708px;
  }
}

.city-page__hotels {
  background-color: var(--background-color-grey);
  display: block;
  text-align: center;

  .hotels-icon {
    margin-bottom: 24px;
  }

  .hotels-title {
    margin-bottom: 32px;
  }
}

.section-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}

.spots-section {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  gap: 48px;

  &__subtitle {
    max-width: 585px;
    margin: auto;
  }
}

.info-section {
  background-color: var(--background-color-grey);
}

.banner {
  background-image: url("/city-images/banner.jpg");
  background-size: contain;
  padding: 122px 0 92px;

  @media (min-width: 992px) {
    background-size: cover;
  }

  &-heading {
    @include banner-title;
    color: var(--text-color-light);
  }

  &-tagline {
    @include banner-tagline;
    color: var(--text-color-light);
    margin-bottom: 48px;
  }
}

.carousel-wrapper {
  width: 100%;
}

.spots-carousel {
  margin: auto;
  max-width: 1800px;

  &-item {
    margin: 0 8px;
  }
}

.hotels-carousel {
  margin: auto;
  max-width: 400px;

  @media (min-width: 992px) {
    max-width: none;
  }
}

.hotels-mobile-content {
  margin: 0 -8px;
}

::ng-deep .p-carousel-indicator-button {
  border-radius: 100%;
  margin: 0 0.5rem;
  height: 0.75rem;
  width: 0.75rem;
}

::ng-deep .spots-carousel-indicators {
  margin-top: 32px;
}

::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background: var(--text-color);
}

::ng-deep .city-page__hotels .card.card--compact {
  align-items: initial;

  img {
    margin: auto;
  }
}
