<hero
  backgroundImage="/city-images/hero-background.jpg"
  title="Barranquilla"
  subtitle="La Puerta de Oro de Colombia"
/>
<div class="container m-80">
  <div class="row g-0">
    <div class="col-6">
      <card
        title="WELCOME TO BARRANQUILLA"
        icon="marimonda"
        buttonLabel="saber más"
        [compact]="true"
      >
        <p>
          Colorida, vibrante y cálida, Barranquilla es una ciudad donde la
          alegría se siente en el aire y la hospitalidad es su esencia.
        </p>
        <p>
          Prepárense para descubrir su música, su gastronomía y ese espíritu
          festivo que hace de Barranquilla un destino inolvidable.
        </p>
      </card>
    </div>
    <div class="col-6">
      <div class="city-image"></div>
    </div>
  </div>
</div>
<card title="Hoteles" icon="hotel" [compact]="true" class="city-page__hotels">
  <div class="container">
    <div class="row">
      @for (hotel of hoteles; track hotel.title) {
      <div class="col-4"><hotel-card [hotel]="hotel" /></div>
      }
    </div>
  </div>
</card>

<div class="spots-section container m-80">
  <div class="section-header">
    <icon name="caiman" />
    <h2 class="m-0">NUESTROS RECOMENDADOS EN BARRANQUILLA</h2>
    <p class="spots-section__subtitle">
      Prepárense para descubrir su música, su gastronomía y ese espíritu festivo
      que hace de Barranquilla un destino inolvidable.
    </p>
  </div>

  <div>
    @for (touristSpot of touristSpots; track touristSpot.name) {
    <tourist-spots [touristSpot]="touristSpot" />
    }
  </div>
</div>

<div class="info-section py-80">
  <div class="container">
    <div class="section-header mb-80">
      <icon name="information" />
      <h2 class="m-0">INFORMACIÓN DE INTERES</h2>
    </div>

    <div class="row row-gap-80">
      @for (visitorInformation of visitorsInformation; track
      visitorInformation.title) {
      <div class="col-4">
        <visitor-information [visitorInformation]="visitorInformation" />
      </div>
      }
    </div>
  </div>
</div>

<app-footer />
