<hero
  backgroundImage="/city-images/hero-background.jpg"
  titleText="Barranquilla"
  subtitle="La Puerta de Oro de Colombia"
/>
<div class="container my-32 my-lg-80">
  <div class="row g-0">
    <div class="col-lg-6">
      <card
        titleText="WELCOME TO BARRANQUILLA"
        icon="marimonda"
        buttonLabel="saber más"
        [compact]="true"
        href="https://colombia.travel/es/barranquilla"
      >
        <p>
          Colorida, vibrante y cálida, Barranquilla es una ciudad donde la
          alegría se siente en el aire y la hospitalidad es su esencia.
        </p>
        <p>
          Prepárense para descubrir su música, su gastronomía y ese espíritu
          festivo que hace de Barranquilla un destino inolvidable.
        </p>
      </card>
    </div>
    <div class="col-lg-6">
      <div class="city-image"></div>
    </div>
  </div>
</div>

<div class="city-page__hotels">
  <div class="container">
    <icon name="hotel" class="hotels-icon"></icon>
    <h2 class="hotels-title">Hoteles</h2>
    <div class="hotels-mobile-content">
      <div class="mobile-only carousel-wrapper hotels-carousel">
        <p-carousel
          [value]="hoteles"
          [numVisible]="1"
          [numScroll]="1"
          [showNavigators]="false"
          [circular]="true"
          [responsiveOptions]="responsiveOptions"
          indicatorsContentClass="spots-carousel-indicators"
        >
          <ng-template pTemplate="item" let-hotel>
            <div class="spots-carousel-item">
              <hotel-card [hotel]="hotel" />
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="desktop-only container">
      <div class="row">
        @for (hotel of hoteles; track hotel.title) {
        <div class="col-lg-4"><hotel-card [hotel]="hotel" /></div>
        }
      </div>
    </div>
  </div>
</div>

<div class="spots-section my-80">
  <div class="container">
    <div class="section-header">
      <icon name="caiman" />
      <h2 class="m-0">NUESTROS RECOMENDADOS EN BARRANQUILLA</h2>
      <p class="spots-section__subtitle">
        Prepárense para descubrir su música, su gastronomía y ese espíritu
        festivo que hace de Barranquilla un destino inolvidable.
      </p>
    </div>
  </div>

  <div class="carousel-wrapper spots-carousel">
    <p-carousel
      [value]="touristSpots"
      [numVisible]="4"
      [numScroll]="1"
      [showNavigators]="false"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      indicatorsContentClass="spots-carousel-indicators"
    >
      <ng-template pTemplate="item" let-touristSpot>
        <div class="spots-carousel-item">
          <tourist-spots [touristSpot]="touristSpot"></tourist-spots>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>

<div class="info-section py-80">
  <div class="container">
    <div class="section-header mb-80">
      <icon name="information" />
      <h2 class="m-0">INFORMACIÓN DE INTERES</h2>
    </div>

    <div class="carrousel-visitor-information mobile-only">
      <p-carousel
        [value]="visitorsInformation"
        [numVisible]="1"
        [numScroll]="1"
        [showNavigators]="true"
        [circular]="true"
        indicatorsContentClass="spots-carousel-indicators"
      >
        <ng-template let-visitorInformation pTemplate="item">
          <div class="carousel-item">
            <visitor-information
              [visitorInformation]="visitorInformation"
            ></visitor-information>
          </div>
        </ng-template>
      </p-carousel>
    </div>

    <div class="desktop-only">
      <div class="row row-gap-80">
        @for (visitorInformation of visitorsInformation; track
        visitorInformation.title) {
        <div class="col-4">
          <visitor-information [visitorInformation]="visitorInformation" />
        </div>
        }
      </div>
    </div>
  </div>
</div>

<div class="banner">
  <div class="container">
    <div class="col-7 text-left">
      <h2 class="banner-heading">¿TIENES PREGUNTAS O NECESITAS AYUDA?</h2>
      <p class="banner-tagline">
        Nuestra Wedding Planner, se encargará de responder todas tus dudas.
      </p>
      <app-link>contactar</app-link>
    </div>
  </div>
</div>
<app-footer />
