<div class="container text-center py-80">
  <div class="row">
    <h2 class="countdown-title">¡La boda se acerca!</h2>
  </div>
  <div class="row">
    <div class="col-6 col-lg-2 offset-lg-2">
      <span class="countdown-number">{{ days }}</span>
      <p>Días</p>
    </div>
    <div class="col-6 col-lg-2">
      <span class="countdown-number">{{ hours }}</span>
      <p>Horas</p>
    </div>
    <div class="col-6 col-lg-2">
      <span class="countdown-number">{{ minutes }}</span>
      <p>Minutos</p>
    </div>
    <div class="col-6 col-lg-2">
      <span class="countdown-number">{{ seconds }}</span>
      <p>Segundos</p>
    </div>
  </div>
</div>
