<div class="countdown__section">
  <h2 class="countdown__title">que comience el conteo regresivo</h2>
  <div class="countdown__date">
    <div>
      <span class="countdown__date__number">120</span>
      <p>Días</p>
    </div>
    <div>
      <span class="countdown__date__number">11</span>
      <p>Horas</p>
    </div>
    <div>
      <span class="countdown__date__number">53</span>
      <p>Minutos</p>
    </div>
    <div>
      <span class="countdown__date__number">40</span>
      <p>Segundos</p>
    </div>
  </div>
</div>
