<div class="container text-center py-80">
  <div class="row">
    <h2 class="countdown-title">¡La boda se acerca!</h2>
    <p class="col-lg-8 offset-lg-2 countdown-intro">
      Y nos encantaría que nos acompañaras desde el inicio de este día tan
      especial.<br class="desktop-only" />
      La ceremonia en la Iglesia significa mucho para nosotros y compartirla
      contigo la hará aún más especial.
    </p>
  </div>
  <div class="row">
    <div class="col-6 col-lg-2 offset-lg-2">
      <span class="countdown-number">{{ days }}</span>
      <p>Días</p>
    </div>
    <div class="col-6 col-lg-2">
      <span class="countdown-number">{{ hours }}</span>
      <p>Horas</p>
    </div>
    <div class="col-6 col-lg-2">
      <span class="countdown-number">{{ minutes }}</span>
      <p>Minutos</p>
    </div>
    <div class="col-6 col-lg-2">
      <span class="countdown-number">{{ seconds }}</span>
      <p>Segundos</p>
    </div>
  </div>
</div>
