@use "./scss/mixins.scss" as *;
@use "./scss/variables.scss";
@import "bootstrap/scss/functions";

$grid-gutter-width: 40px;

@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1248px,
);

$spacers: (
  0: 0,
  16: $spacer,
  24: $spacer * 1.5,
  32: $spacer * 2,
  48: $spacer * 3,
  64: $spacer * 4,
  80: $spacer * 5,
);

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";

* {
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: var(--background-color-dark);
}

html,
body {
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: 960px) {
    font-size: 24px;
  }
}
h3 {
  @include h3;
}
img {
  display: block;
}

p {
  margin-bottom: 24px;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: 1.2;
}

.desktop-only {
  display: none;
  @media (min-width: 960px) {
    display: block;
  }
}

.mobile-only {
  display: block;
  @media (min-width: 960px) {
    display: none;
  }
}
