@mixin hero-title {
  font-family: var(--hero-font);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 3px;
  line-height: 1.4;

  @media (min-width: 960px) {
    font-size: 72px;
    letter-spacing: 6px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background-color: #ffffff;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  text-transform: uppercase;
  line-height: 1.4;
  padding-block: 12px;
  padding-inline: 32px;
  transition: all 0.3s ease, color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: var(--background-color-dark);
    color: var(--text-color-light);
  }

  &--dark {
    background-color: #000000;
    color: #ffffff;

    &:hover {
      background-color: var(--background-color);
      color: var(--text-color);
    }
  }
  &--ondark {
    border-color: var(--text-color-light);
  }

  &--link {
    border: none;
    border-bottom: 1px solid var(--text-color);
    background: none;
    color: var(--text-color);
    text-transform: none;
    padding: 0;
  }
}

@mixin banner-title {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 2px;
}

@mixin banner-tagline {
  font-size: 18px;
}

@mixin h3 {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
}
