:root {
  --playfair: "Playfair Display", serif;

  --heading-font: var(--playfair);
  --hero-font: var(--playfair);
  --body-font: "Cairo", sans-serif;
  --em-font: "Sacramento", cursive;

  --black: #000000;
  --white: #ffffff;
  --light-gray: #f5f5f5;

  --text-color: var(--black);
  --text-color-light: var(--white);

  --background-color: var(--white);
  --background-color-grey: var(--light-gray);
  --background-color-dark: var(--black);
}
