@use "../../scss/mixins.scss" as *;

#dresscode__card {
  margin-top: -260px;
  display: block;
}
.gift__card {
  margin-top: -170px;
  display: block;
}
.dresscode__image {
  margin-top: -170px;
  display: block;
}

.banner-heading {
  @include banner-title;
  background-image: url("/home-images/banner.jpg");
  background-size: cover;
  margin-bottom: 24px;
  padding: 102px 104px;
}

.banner-tagline {
  @include banner-tagline;
}

.responsive-image {
  width: 100%;

  @media (min-width: 960px) {
    width: auto;
  }
}

.reverse-on-mobile {
  @media (max-width: 959px) {
    flex-direction: column-reverse;
  }
}

.section-image {
  background-size: cover;
  background-position: center;
  height: 708px;
  width: 100%;
}

.gift-container {
  background-image: linear-gradient(
    var(--background-color) 0%,
    var(--background-color) 95%,
    var(--background-color-grey)
  );
  padding-bottom: 80px;
}
