<div class="home">
  <hero
    backgroundImage="/home-images/hero-background.jpg"
    [borderOn]="false"
    subtitle="Jul 04, 2026"
    [buttonDisplay]="true"
  >
    <div class="hero__title">
      Gabrielle <span class="hero-ampersand">&</span> Francis
    </div>
  </hero>

  <app-quote>
    <span class="home-quote">
      Con el apoyo y <em>amor</em> de nuestras familias, tenemos el placer de
      <em>invitaros</em> a uno de los días más importantes de nuestras vidas.
    </span>
  </app-quote>

  <app-countdown />

  <div class="container-lg">
    <div class="row gx-0 reverse-on-mobile">
      <div class="col-lg-6">
        <div
          class="section-image"
          [style]="{ backgroundImage: 'url(/home-images/ceremonia.jpg)' }"
        ></div>
      </div>
      <div class="col-lg-6">
        <card
          titleText="Ceremonia"
          buttonLabel="Cómo llegar"
          icon="church"
          href="https://maps.app.goo.gl/Xv8jqk9yBfY5V6qC9"
        >
          <p>Hora: 7:00 pm</p>
          <p>Saint Francis de Sales Catholic Church</p>
          <p>621 Alton Rd, Miami Beach, FL 33139, United States</p>
        </card>
      </div>
    </div>
  </div>

  <div class="container-lg mt-32 mt-lg-0">
    <div class="row gx-0">
      <div class="col-lg-6">
        <card
          buttonLabel="cómo llegar"
          titleText="Recepción"
          icon="toast"
          href="https://maps.app.goo.gl/1Dq55pQPp354U6nu6"
        >
          <p>Hora: 9:00 pm</p>
          <p>Hilton Cabana Miami Beach Resort</p>
          <p>6261 Collin Av, Miami Beach, FL 33140, United States</p>
        </card>
      </div>
      <div class="col-lg-6">
        <div
          class="section-image"
          [style]="{ backgroundImage: 'url(/home-images/recepcion.jpg)' }"
        ></div>
      </div>
    </div>
  </div>

  <div class="container mt-80 desktop-only">
    <div class="row g-0">
      <div class="col-lg-7">
        <img
          class="w-100"
          src="/home-images/dress-code.jpg"
          alt="Pareja celebrando felices el día de su boda"
        />
      </div>
    </div>
  </div>

  <div class="container mt-32 mt-lg-0">
    <div class="row g-0">
      <div class="col-lg-7 offset-lg-5">
        <card
          id="dresscode__card"
          titleText="Dress Code"
          buttonLabel="contactar"
          href="#"
          icon="clothes"
          [compact]="true"
        >
          <p>
            Nos encantaría que os sintáis cómodos y que luzcáis estupendos en un
            día tan especial para nosotros. Por eso, queremos compartir con
            vosotros el código de vestimenta que hemos pensado para la
            celebración:
          </p>
          <p>
            Vestido largo de gala y esmoquin negro. Los colores blanco y nude
            quedan reservados para la novia. Si tenéis dudas sobre qué poneros,
            ¡escribidnos y estaremos encantados de ayudaros!
          </p>
        </card>
      </div>
    </div>
  </div>

  <div class="container mt-lg-80 mobile-only">
    <div class="row g-0">
      <div class="col-lg-7 offset-lg-1">
        <img
          class="w-100"
          src="/home-images/dress-code.jpg"
          alt="Pareja celebrando felices el día de su boda"
        />
      </div>
    </div>
  </div>

  <div class="gift-container">
    <div class="container mt-80 desktop-only">
      <div class="row g-0">
        <div class="col-lg-4">
          <img
            class="w-100 position-relative"
            src="/home-images/detalle-arriba.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="container mt-32 mt-lg-0">
      <div class="row g-0">
        <div class="col-lg-6 offset-lg-3">
          <card
            class="gift__card"
            titleText="UN DETALLE CON CARIÑO"
            icon="gift"
            [compact]="true"
          >
            <p>
              Lo más importante para nosotros es contar con vuestra presencia en
              este día tan especial.
            </p>
            <p>
              Si queréis hacernos un regalo, hemos optado por una lluvia de
              sobres, que nos ayudará a comenzar esta nueva etapa juntos.
            </p>
          </card>
        </div>
      </div>
    </div>

    <div class="container mt-lg-80 mobile-only">
      <div class="row g-0">
        <div class="col-lg-4">
          <img
            class="w-100 position-relative"
            src="/home-images/detalle-arriba.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row g-0">
        <div class="col-4 offset-8 gift__image">
          <img
            class="w-100 position-relative"
            src="/home-images/detalle-abajo.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>

  <div class="container mb-80">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <h2 class="banner-heading">
          LA FIESTA
          <span class="banner-space-chars">&nbsp;</span> NO ES LO MISMO SIN TI
        </h2>
        <p class="banner-tagline"></p>
        <p>Tu presencia hará que este día sea aún más especial.</p>

        <app-link href="/rsvp" [isDark]="true">confirma tu asistencia</app-link>
      </div>
    </div>
  </div>

  <app-footer />
</div>
