<hero />

<app-countdown />

<div class="container">
  <div class="row g-0">
    <div class="col">
      <img
        src="/home-images/ceremonia.jpg"
        alt="Pareja de recién casados abrazándose en la playa"
      />
    </div>
    <div class="col">
      <card title="Ceremonia" buttonLabel="Cómo llegar" icon="church">
        <p>Hora: 7:00 pm (COT)</p>
        <p>Parroquia Sagrada Familia</p>
        <p>Calle Valencia Barcelona, España</p>
      </card>
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-0">
    <div class="col">
      <card buttonLabel="cómo llegar" title="Recepción" icon="toast">
        <p>Hora: 9:00 pm (COT)</p>
        <p>Hotel Mirador del Alba</p>
        <p>Calle de los Pinos 248, 11230 Ciudad del Sol</p>
      </card>
    </div>
    <div class="col">
      <img src="/home-images/recepcion.jpg" alt="" />
    </div>
  </div>
</div>

<div class="container mt-80">
  <div class="row g-0">
    <div class="col-7 offset-1">
      <img
        class="w-100"
        src="/home-images/dress-code.jpg"
        alt="Pareja celebrando felices el día de su boda"
      />
    </div>
  </div>
</div>

<div class="container">
  <div class="row g-0">
    <div class="col-6 offset-5">
      <card
        id="dresscode__card"
        title="Dress Code"
        buttonLabel="contactar"
        icon="clothes"
        [compact]="true"
      >
        <p>
          Queremos que se sientan cómodos y se vean increíbles en un día tan
          especial para nosotros, por eso les contamos un poco sobre el estilo
          de vestimenta que imaginamos para la celebración:
        </p>
        <p>
          Vestido Largo (Tipo Gala ) y Smoking negro. Los colores blanco y nude
          están reservados para la novia. Si no sabes qué ponerte, ¡escríbenos y
          te ayudamos encantados!
        </p>
      </card>
    </div>
  </div>
</div>

<div class="container mt-80">
  <div class="row g-0">
    <div class="col-4">
      <img
        class="w-100 position-relative"
        src="/home-images/detalle-arriba.jpg"
        alt=""
      />
    </div>
  </div>
</div>
<div class="container">
  <div class="row g-0">
    <div class="col-6 offset-3">
      <card
        class="gift__card"
        title="UN DETALLE CON CARIÑO"
        buttonLabel="enviar regalo"
        icon="gift"
        [compact]="true"
      >
        <p>
          Lo más importante para nosotros es contar con tu presencia en este día
          tan especial.
        </p>
        <p>
          Si desean hacernos un regalo, hemos optado por una lluvia de sobres,
          que nos ayudará a comenzar esta nueva etapa juntos.
        </p>
      </card>
    </div>
  </div>
</div>
<div class="container">
  <div class="row g-0">
    <div class="col-4 offset-8 dresscode__image">
      <img
        class="w-100 position-relative"
        src="/home-images/detalle-abajo.jpg"
        alt=""
      />
    </div>
  </div>
</div>

<div class="banner my-80">
  <div class="container">
    <div class="col-8 offset-2 text-center">
      <h2 class="banner-heading">LA FIESTA NO ES LO MISMO SIN TI</h2>
      <p class="banner-tagline">
        Tu presencia hará que este día sea aún más especial.
      </p>
      <app-button [isDark]="true">confirma tu asistencia</app-button>
    </div>
  </div>
</div>

<app-footer />
