@use "../../scss/mixins.scss" as *;

#dresscode__card {
  margin-top: -260px;
  display: block;
}
.gift__card {
  margin-top: -170px;
  display: block;
}
.dresscode__image {
  margin-top: -170px;
  display: block;
}

.banner {
  display: flex;
  flex-direction: column;
  background-image: url(/home-images/banner.jpg);
  background-repeat: no-repeat;
  padding-top: 127px;
  background-position: center top;
  align-items: center;
  justify-content: center;
}

.banner-heading {
  @include banner-title;
  margin-bottom: 118px;
}

.banner-tagline {
  @include banner-tagline;
}
