@use "../../scss/mixins.scss" as *;

#dresscode__card {
  display: block;

  @media (min-width: 992px) {
    margin-top: -260px;
  }
}
.gift__card {
  @media (min-width: 992px) {
    margin-top: -170px;
  }
  display: block;
}

.banner-heading {
  @include banner-title;
  background-image: url("/home-images/banner-mobile.jpg");
  background-size: 184px 356px;
  background-repeat: no-repeat;
  background-position: center;
  letter-spacing: 5px;
  padding: 218px 0 58px;
  margin: 0 0 24px;

  @media (min-width: 992px) {
    background-image: url("/home-images/banner.jpg");
    background-size: cover;
    padding: 102px 104px;
  }
}

.banner-space-chars {
  display: none;

  @media (min-width: 992px) {
    display: inline;
  }
}

.banner-tagline {
  @include banner-tagline;
}

.responsive-image {
  width: 100%;

  @media (min-width: 992px) {
    width: auto;
  }
}

.section-image {
  background-size: cover;
  background-position: center;
  aspect-ratio: 680 / 416;
  width: 100%;

  @media (min-width: 992px) {
    aspect-ratio: initial;
    height: 708px;
  }
}

.gift-container {
  padding-bottom: 80px;
}
.gift__image {
  display: none;

  @media (min-width: 992px) {
    margin-top: -170px;
    display: block;
  }
}

.hero-ampersand {
  display: block;
  font-size: 32px;
  margin-top: 12px;

  @media (min-width: 992px) {
    display: inline-block;
    font-size: inherit;
    margin: 0;
  }
}

.home {
  @media (max-width: 992px) {
    ::ng-deep .hero {
      background-image: url("/home-images/hero-mobile.jpg") !important;
    }
  }
}
